<h1>View All Games, Games#Index</h1> 

<% @games.each do |game| %> 
  game title: <%= link_to game.title, game_path(game) %><br />
  game description: <%= game.description %><br /> 
  game white_id: <%= game.white_id %><br /> 
  game black_id: <%= game.black_id %><br /> 
  game user_id: <%= game.user_id %><br /> 
  game game_id: <%= game.id %><br /> 
  <br /><br /> 
<% end %> 



